name: Terraform Pipeline
on:
    push:
        paths:
            - 'Terraform/Application/**'
            - '.github/workflows/terraform-pipeline.yml'
    workflow_dispatch:
      inputs:
        environment:
          description: 'Select the environment to deploy'
          default: dev
          required: true
          type: choice
          options:
            - dev
            - prod

permissions:
    id-token: write
    contents: read

jobs:
    Terraform_Plan:
        runs-on: ubuntu-latest
        outputs:
          error_code: ${{ steps.terraform-plan.outputs.exit_code }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.7.5

            - name: aws configuration
              uses: aws-actions/configure-aws-credentials@v2
              with:
                aws-region: us-east-1
                role-to-assume: arn:aws:iam::588434007010:role/Github_oidc
            
            - name: Backend configuration
              working-directory: ./Terraform/Application
              run: |
                    terraform init \
                    -backend-config="bucket=terraform-backend-tabish" \
                    -backend-config="key=terraform.tfstate" \
                    -backend-config="region=us-east-1" 

            - name: Terraform Plan
              id: terraform-plan
              working-directory: ./Terraform/Application
              run: |
                terraform plan -var-file="dev.tfvars" -out=tfplan -no-color -detailed-exitcode
                echo "exit_code=$?" >> $GITHUB_OUTPUT
                echo "exit_code=$?"

            - name: Upload Terraform Plan Artifact
              uses: actions/upload-artifact@v4
              with:
                name: terraform-plan
                path: ./Terraform/Application/tfplan


    Terraform_Apply:
        runs-on: ubuntu-latest
        needs: Terraform_Plan
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.7.5

            - name: aws configuratiion
              uses: aws-actions/configure-aws-credentials@v2
              with:
                aws-region: us-east-1
                role-to-assume: arn:aws:iam::588434007010:role/Github_oidc

            - name: Backend configuration
              working-directory: ./Terraform/Application
              run: |
                    terraform init -reconfigure \
                    -backend-config="bucket=terraform-backend-tabish" \
                    -backend-config="key=terraform.tfstate" \
                    -backend-config="region=us-east-1" 

            - name: Download Terraform Plan Artifact
              uses: actions/download-artifact@v4
              with:
                name: terraform-plan
                path: ./Terraform/Application
            
            - name: Terraform Apply
              if: needs.Terraform_Plan.outputs.error_code == '2'
              working-directory: ./Terraform/Application
              run: terraform apply "tfplan"
    
              