name: Tasting CICD pipeline

on:
    push:
        branches:
        - main
jobs:
    Build:
        runs-on: ubuntu-latest
        steps:
            - name: step-1
              run: |
                  echo "Hello world"
                  sleep 30

# name: 4 job testing pipeline
# on:
#     workflow_dispatch:
# jobs:
#     job-1:
#         runs-on: ubuntu-latest
#         steps:
#             - run: echo "This is job 1"
