name: CICD Pipeline 

on:
    push:
        branches: [ "main" ]

jobs:
    Install:
        runs-on: self-hosted
        steps:
        - uses: actions/checkout@v4
        - name: mvn install
          run: |
            sudo apt update && sudo apt install default-jdk -y
            sudo apt install maven -y

        - name: Trivy Installation
          run: |
            sudo apt-get install -y wget apt-transport-https gnupg lsb-release
            wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
            echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
            sudo apt-get update -y
            sudo apt-get install -y trivy

        - name: Gitleaks Installation
          run: sudo apt install gitleaks -y

    compile:
        runs-on: self-hosted
        needs: Install
        steps:
        - uses: actions/checkout@v4
        - name: Set up JDK 17
          uses: actions/setup-java@v4
          with:
              java-version: '17'
              distribution: 'temurin'
              cache: maven
        - name: Build with Maven
          run: mvn compile

    security-check:
        runs-on: self-hosted
        needs: compile
        steps:
        - uses: actions/checkout@v4

        - name: Trivy FS Scan
          run: trivy fs --format table -o fs-report.json .

        - name: Gitleaks Code Scan
          run: gitleaks detect source . -r gitleaks-report.json -f json