name: CICD Pipeline 

on:
    push:
        branches: [ "main1" ]
    workflow_dispatch:

jobs:
    Install:
        runs-on: self-hosted
        # runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: mvn install
          run: |
            sudo apt update && sudo apt install default-jdk -y
            sudo apt install maven -y && sudo apt install unzip -y

        - name: Trivy Installation
          run: |
            sudo apt-get install -y wget apt-transport-https gnupg lsb-release
            wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
            echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
            sudo apt-get update -y
            sudo apt-get install -y trivy

        - name: Gitleaks Installation
          run: sudo apt install gitleaks -y

    compile:
        runs-on: self-hosted
        # runs-on: ubuntu-latest
        needs: Install
        steps:
        - uses: actions/checkout@v4
        - name: Set up JDK 17
          uses: actions/setup-java@v4
          with:
              java-version: '17'
              distribution: 'temurin'
              cache: maven
        - name: Build with Maven
          run: mvn compile

    security-check:
        runs-on: self-hosted
        # runs-on: ubuntu-latest
        needs: compile
        steps:
        - uses: actions/checkout@v4

        - name: Trivy FS Scan
          run: trivy fs --format table -o fs-report.json .

        - name: Gitleaks Code Scan
          run: gitleaks detect source . -r gitleaks-report.json -f json

    test:
        runs-on: self-hosted
        # runs-on: ubuntu-latest
        needs: security-check
        steps:
        - uses: actions/checkout@v4
        - name: Set up JDK 17
          uses: actions/setup-java@v4
          with:
              java-version: '17'
              distribution: 'temurin'
              cache: maven
        - name: Unit Test Cases
          run: mvn test

    build_project_and_sonar_scan:
        runs-on: self-hosted
        # runs-on: ubuntu-latest
        needs: test
        steps:
        - uses: actions/checkout@v4
        - name: Set up JDK 17
          uses: actions/setup-java@v4
          with:
            java-version: '17'
            distribution: 'temurin'
            cache: maven
        # - name: Build Project
        #   run: mvn package
        # - name: Upload JAR artifact
        #   uses: actions/upload-artifact@v4
        #   with:
        #     name: app-jar
        #     path: target/*.jar 

        - name: Configure Maven for Nexus
          run: |
            mkdir -p ~/.m2
            cat > ~/.m2/settings.xml <<EOF
            <settings>
              <servers>
                <server>
                  <id>maven-releases</id>
                  <username>${{ secrets.NEXUS_USER }}</username>
                  <password>${{ secrets.NEXUS_PASS }}</password>
                </server>
                <server>
                  <id>maven-snapshots</id>
                  <username>${{ secrets.NEXUS_USER }}</username>
                  <password>${{ secrets.NEXUS_PASS }}</password>
                </server>
              </servers>
            </settings>
            EOF

        - name: Build & Deploy
          run: mvn clean deploy
            
        - uses: actions/checkout@v4
          with:
            # Disabling shallow clones is recommended for improving the relevancy of reporting
            fetch-depth: 0
        - name: SonarQube Scan
          uses: SonarSource/sonarqube-scan-action@v5.0.0 # Ex: v4.1.0, See the latest version at https://github.com/marketplace/actions/official-sonarqube-scan
          env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
            
        - name: SonarQube Quality Gate check
          id: sonarqube-quality-gate-check
          uses: sonarsource/sonarqube-quality-gate-action@master
          with:
            pollingTimeoutSec: 600
          env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
            

    
    Docker_build:
        runs-on: self-hosted
        needs: build_project_and_sonar_scan
        steps:
          - uses: actions/checkout@v4
          - name: Get project version
            id: version
            run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_OUTPUT

          - name: Build Docker image from Nexus
            
            run: |
                docker build \
                  --build-arg NEXUS_URL="${{ secrets.NEXUS_URL }}" \
                  --build-arg NEXUS_USER="${{ secrets.NEXUS_USER }}" \
                  --build-arg NEXUS_PASS="${{ secrets.NEXUS_PASS }}" \
                  --build-arg VERSION="${{ steps.version.outputs.version }}" \
                  -t "bankapp:${{ steps.version.outputs.version }}" .

          - name: Checkout repo
            uses: actions/checkout@v3

          - name: Configure AWS credentials
            uses: aws-actions/configure-aws-credentials@v4 # More information on this action can be found below in the 'AWS Credentials' section
            with:
              role-to-assume: arn:aws:iam::588434007010:role/Github_oidc
              aws-region: us-east-1

          - name: Login to Amazon ECR Public
            id: login-ecr-public
            uses: aws-actions/amazon-ecr-login@v2
            with:
              registry-type: public

          - name: Push docker image to Amazon ECR Public
            env:
              REGISTRY: ${{ steps.login-ecr-public.outputs.registry }}
              REGISTRY_ALIAS: j6u4l5d9
              REPOSITORY: test/java
              IMAGE_TAG: ${{ github.sha }}
            run: |
              docker push $REGISTRY/$REGISTRY_ALIAS/$REPOSITORY:$IMAGE_TAG
