name: CICD Pipeline 

on:
    push:
        branches: [ "main" ]

jobs:
    Install:
        runs-on: self-hosted
        steps:
        - uses: actions/checkout@v4
        - name: mvn install
          run: |
            sudo apt update && sudo apt install default-jdk -y
            sudo apt install maven -y


    compile:
        runs-on: self-hosted

        steps:
        - uses: actions/checkout@v4
        - name: Set up JDK 17
          uses: actions/setup-java@v4
          with:
              java-version: '17'
              distribution: 'temurin'
              cache: maven
        - name: Build with Maven
          run: mvn compile